.home-container {
  // background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.home-content {
  text-align: center;
  color: #282828;
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content:hover {
  cursor: default;
}

$row-offset: -0.35em;
$row-background-color: white;

.row-one {
  margin-bottom: $row-offset;
  background-color: $row-background-color;
  z-index: 2;
  opacity: 0.95;
  filter: alpha(opacity=95);
}

.row-two {
  z-index: 1;
  margin-top: $row-offset;
  // -moz-transform: scaleY(-1);    /* Gecko */
  // -o-transform: scaleY(-1);      /* Opera */
  // -webkit-transform: scaleY(-1); /* Webkit */
  // transform: scaleY(-1);         /* Standard */
  // filter: FlipV;
  opacity: 0.2;
  filter: alpha(opacity=25);
  background-color: $row-background-color;
}

.two-line-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50% 50%;
  grid-column-gap: 50px;
}

.left-cell {
  justify-self: end;
}

.right-cell {
  justify-self: start;
}

%large-text {
  font-size: 3.75em;
  font-weight: lighter;
  letter-spacing: 0.25em;
  text-align: center;
  // background-color: white;
}

.title-block {
  @extend %large-text;
}
 
.title-badge {
  display: flex;
  width: 100%;
}

.title-badge-text {
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
  font-size: 1em;
  margin-bottom: -0.5em;
  color: white;
  background-color: black;
  padding-left: 12px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 3;
}

// Tape oversizing
.left-cell.row-one {
  padding-left: 48px;
}

.right-cell.row-one {
  padding-right: 32px;
  padding-left: 16px;
  margin-left: -32px;
}

.left-cell.row-two {
  padding-left: 16px;
  margin-right: 16px;
}

.right-cell.row-two {
  padding-right: 16px;
  margin-left: 16px;
}