.home-container {
  // background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.home-content {
  text-align: center;
  color: #282828;
  display: flex;
  flex-grow: 0;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content:hover {
  cursor: default;
}

$row-offset: -0.23em;
.row-one {
  margin-bottom: $row-offset;
}

.row-two {
  margin-top: $row-offset;
}

.two-line-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 50% 50%;
  grid-column-gap: 50px;
}

.left-cell {
  justify-self: end;
}

.right-cell {
  justify-self: start;
}

%large-text {
  font-size: 4.25em;
  font-weight: lighter;
  letter-spacing: 0.25em;
  text-align: center;
}

.title-block {
  @extend %large-text;
}
 
.title-badge {
  width: 100%;
  text-align: left;
  font-weight: 300;
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
  font-size: 1.4em;
  margin-bottom: -0.5em;
  // background-color: red;
}