.home-container {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    background: lightcyan;
    text-align: center;
    padding: 15%;
    color: #282828;
    width: 100%;
}