.content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 64px 0 64px;
    width: 100vw;
}

.avatar-wrap {
    display: flex;
    justify-content: center;
}

.avatar {
    width: 256px;
    height: 256px;
    background: linear-gradient(141deg, #ffffff 0%, #ffffd6 51%, #ffe2d6 75%);
    border-radius: 256px;
    margin: 32px;
}

.text-wrap {
    display: flex;
    justify-content: center;
}

.text {
    margin-left: 32px;
    // background-color: white;
    text-align: start;
    max-width: 550px;
    justify-content: center;
    color: #181818;
}

h1 {
    padding: 0;
    margin: 0;
    margin-bottom: -16px;
}

.CenterSection {
    background-color: red;
}